.admin-panel {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 80px;
  }
  
  .admin-panel h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .suspend-button {
    background-color: #ff4c4c;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .resume-button {
    background-color: #08f74f;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .suspend-button:hover {
    background-color: red;
  }

  .resume-button:hover{
    background-color: #13f307;
  }
  